Adafruit-GPIO==1.0.3
Adafruit-LED-Backpack==1.8.1
Adafruit-PureIO==0.2.3
chardet==2.3.0
colorama==0.3.2
gpiozero==1.2.0
html5lib==0.999
lxkeymap==0.1
mcpi==0.1.1
ndg-httpsclient==0.3.2
numpy==1.8.2
pi-rc522==2.2.1
picamera==1.10
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pigpio==1.30
Pillow==6.2.0
pyasn1==0.1.7
pygame==1.9.2a0
pygobject==3.14.0
pyOpenSSL==0.13.1
pyserial==2.6
python-apt==0.9.3.12
requests==2.4.3
RPi.GPIO==0.6.2
RTIMULib==7.2.1
sense-hat==2.1.0
six==1.8.0
smbus==1.1
smbus2==0.2.1
spidev==3.0
urllib3==1.9.1
